/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 22vw 78vw;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  :root{
    --principal-blue: rgb(0, 105, 255);
    --light-grey:#F0F2EF;
  }
 aside{
    max-height: 100vh;
    display: flex;
    align-items: center;
 }
 picture {
    height: 100%; 
    display: flex;
    align-items: center; 
}
  picture img{
    width: 118%;
    height: 118%;
    object-fit: cover;
    object-position: center;
  }



  main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--light-grey);
    position: relative;
  }

  .wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 400px;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
    
}

.wraper__Inner {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
label, input{
    width: 100%;
    
}
input{
    height: 2.5rem;
    background-color: var(--light-grey);
    border: none;
    border-radius: .5rem;
}
input:focus {
    outline: none;
    border-bottom: 1px solid var(--principal-blue);
    border-right: 1px solid var(--principal-blue);
}

.wraper__Inner.back {
    transform: rotateY(180deg);
}

  .wraper img {
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 100px;
        border-radius: 50%;
  }
  .button {
    display: inline-block;
    width: 100%;
    background-color: var(--principal-blue);
    color: white;
    border-radius: .5rem;
    height: 2.5rem;
    outline: none;
    border: none;
    font-size: 1.1rem;
    box-shadow: 5px 5px 0px #BBD5ED;
    text-decoration: none;
    transition: all .3s ease;
  }
  .button:hover{
    background-color: white;
    border-top:1px solid var(--principal-blue);
    border-left:1px solid var(--principal-blue);
    color:var(--principal-blue);
    box-shadow: 5px 5px 0px var(--principal-blue);
  }

  .button:active{
    background-color: var(--principal-blue);
    transform: translateY(4px);
    box-shadow: none;
  }

  .button:active::before{
    content: "Sending ... ";
    background-color: var(--principal-blue);
    color:white;
    transform: translateY(4px);
    box-shadow: none;
    text-align: center;
    margin-left: 3rem;
  }
 .wraper__a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
 }
  a{
    cursor: pointer;
    color: var(--principal-blue);
  }

  